doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= i18n.__('application_name')
    link(href='/assets/vendors/foundation/css/normalize.css', rel='stylesheet')
    link(href='/assets/vendors/foundation/css/foundation.css', rel='stylesheet')
    link(href='/assets/css/main.css', rel='stylesheet')
  body
    .row
      h1= i18n.__('application_name')

      h2= i18n.__('current_amount', { amount: currentAmount.toFixed(2) + currency })

      include templates/main

    script(src='/assets/vendors/modernizr/modernizr.js')
    script(src='/assets/vendors/jquery/dist/jquery.min.js')
    script(src='/assets/vendors/jquery-placeholder/jquery.placeholder.js')
    script(src='/assets/vendors/jquery.cookie/jquery.cookie.js')
    script(src='/assets/vendors/foundation/js/foundation.min.js')
    script(src='/assets/js/main.js')
