doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= i18n.__('application_name')
    link(href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/css/foundation.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
  body
    .row
      h1= i18n.__('application_name')

      h2= i18n.__('current_amount', { amount: currentAmount.toFixed(2) + currency })

      include templates/main

    script(src='//cdn.jsdelivr.net/foundation/5.0.2/js/vendor/custom.modernizr.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//cdn.jsdelivr.net/foundation/5.0.2/js/foundation.min.js')
    script(src='assets/js/main.js')
